body {
    margin: 0%;
    padding: 0%;
    background: #ffffff;
}

.Container {
    display: inline-flex;
    background: rgb(255, 255, 255);
    /* border-radius: 7px; */
    /* border: 1px solid black; */
    width: 290px;
    margin: 10px 20px;
    padding: 10px 20px;

}

.Container:hover {
    background: rgb(231, 231, 231);
    box-shadow: 5px 8px 7px 5px rgb(81 81 81);
    border-radius: 7px;
    transition: 0.7s;

}

.Card {
    display: inline;
    justify-content: left;
    justify-content: space-around;
}

.Num {
    border: 1px solid black;
    border-radius: 50%;
    padding: 1px 4px;
    margin: 2px;
    font-size: smaller;
    
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    margin: 10px 3px;
    display:inline;
}

p {
    font-size: small;
    font-family: system-ui;
    font-weight: 500;

}

.like {
    padding: 5px 10px;
    /* border-radius: 5px; */
    /* border: 1px solid rgb(100, 100, 100); */
    /* color: #fff; */
    
}

.like:hover {
    pointer-events: visibleFill;
    cursor: pointer;

}

img {
    width: 290px;
    height: 200px;
    margin-top: 5px;
}

.main {
    flex: content;
}

.navbar {
    margin: auto;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}

.btn {
    background-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255);
    padding: 10px;
}

.btn:hover {
    border-bottom: 2px solid blue;
    background: rgb(195, 195, 195);
}

.btn:active {
    background: rgba(0, 0, 255, 0.293);
    border-radius: 5px;
}
.btn: